.nav-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(87, 91, 85);
  position:sticky;
  top: 0px;
}

.nav-link{
  display: flex;
  justify-content: space-around;
  width: 50%
}
.link{
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-size: 15px;
}

.logo{
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.rows{

}

.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.content-wrap{
  flex: 1;
}

.main-footer{
  color: white;
  background-color: rgb(87, 91, 85);
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}
 
.content-wrap{
  display: flex;
  align-items:  center;
  justify-content: center;
  background-image: url("https://cdn.discordapp.com/attachments/976145903788371988/997151217270661140/smashorpass.png");
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: contain;
  /* background-size: cover; */
}

.matches-route{
  
}