.nav-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(87, 91, 85);
  position:sticky;
  top: 0px;
  z-index: 1000;
}

.nav-link{
  display: flex;
  justify-content: space-around;
  width: 50%
}
.link{
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-size: 15px;
}

.logo{
  max-width: 100%;
  max-height: 100%;
  height: 50px;
 width: 50px;
 border-radius: 10px;
}



.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}



.main-footer{
  color: white;
  background-color: rgb(87, 91, 85);
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}
 
.content-wrap{
  flex: 1;
  display: flex;
  align-items:  center;
  justify-content: center;
  background-image: url("https://cdn.discordapp.com/attachments/976145903788371988/997151217270661140/smashorpass.png");
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: cover;
}

.content-wrap-new{
  flex: 1;
display: flex;
  align-items:  center;
  justify-content: center;
  background-position: center;

  background-image: url("https://previews.123rf.com/images/mnoelle/mnoelle1902/mnoelle190200021/117337602-kawaii-pastel-rainbow-pixel-hearts-on-blue-background-repeating-seamless-vector-pattern.jpg?fj=1");
  
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: cover;
}



.funny-button{
  position: absolute;
  left:80px;
  top: 300px;
  opacity: 50%;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;  
  color:rgb(55, 37, 37);
}

.matches-card{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-holder{
  background-color: black;
}

.form-wrapper{
  border: 3px ridge rgb(81, 95, 186);
  background-color: rgb(174, 189, 184);
  opacity: 95%;
  border-radius: 15px;
  width: 400px;
}
.form-card{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  
}

.input-box{
  background-color: white;
  border-radius: 15px;
  z-index: 1000;
  width: 300px;
}

.label-color{
  color: rgb(92, 88, 88);
  font-weight: bold;
  z-index: 1000;
}

.save-button{
  background-image: linear-gradient(to left, rgb(232, 221, 232), rgb(142, 120, 157));
  color: white;
}

.info-card{

 background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

.info-card-gender-gay{
 background-image: linear-gradient(to left,  blue, green, yellow);
}

.drop-down{
  border-radius: 15px;
  
}
