.nav-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(87, 91, 85);
  position:sticky;
  top: 0px;
}

.nav-link{
  display: flex;
  justify-content: space-around;
  width: 50%
}
.link{
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-size: 15px;
}

.logo{
  max-width: 100%;
  max-height: 100%;
  height: 50px;
 width: 50px;
 border-radius: 10px;
}



.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}



.main-footer{
  color: white;
  background-color: rgb(87, 91, 85);
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}
 
.content-wrap{
  flex: 1;
  display: flex;
  align-items:  center;
  justify-content: center;
  background-image: url("https://cdn.discordapp.com/attachments/976145903788371988/997151217270661140/smashorpass.png");
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: cover;
}

.content-wrap-new{
  flex: 1;
display: flex;
  align-items:  center;
  justify-content: center;
  background-position: center;

  background-image: url("https://previews.123rf.com/images/mnoelle/mnoelle1902/mnoelle190200021/117337602-kawaii-pastel-rainbow-pixel-hearts-on-blue-background-repeating-seamless-vector-pattern.jpg?fj=1");
  
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: cover;
}

#bio-card{
  color: rgb(109, 16, 16);
}

.funny-button{
  position: absolute;
  left:80px;
  top: 300px
}

.matches-card{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}